<%= render :partial => 'shared/sub_nav' %>
<div class='top-function-menu rounded'>
  <%= link_to_user(@user, @user.name, nil, true)%>
  | 
  <%= link_to t('msg.add'), new_message_path(:id => @user ) %>
</div>
<div class='clear'></div>
<div id="comments_list">
  <% @messages.each do |message| %>
    <div class='uniq_message'>
      <%= render :partial => 'shared/message_comments', :locals => {:message => message}%>
      <% if message.reply && @user.see_msg_right(message, @me) %>
        <div class='comment_reply_content'>
          <%= render :partial => 'shared/message_comments', :locals => {:message => message.reply}%>
        </div>
      <% elsif message.reply %>
        <div class='comment_reply_content'>
           <%= t'msg.pri'%> 
        </div>
      <% end %>
    </div>
  <% end %>
</div>
