<% form_for(@message) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag 'id', @message.master_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :master_id %>
  <%= f.hidden_field :message_id  %>
  <div class='journal-content-title'><%= t'msg.title'%></div>
    <div class='journal-content'>
    <%= f.text_field :subject %>
    </div>
    <div class='journal-content-title'><%=t'msg.content'%></div>
    <%= f.text_area :content, :class => 'mceMsgEditor' %>

    <div class='journal-content-title'><%= t'msg.puborhide'%></div>
    <% SEALED.each do |k,v| %>
      <span><%= v %><%= radio_button("message", "public", k) %></span>
    <% end %>
    <br />
    <br />
    <%= f.submit t('action.save') %>
<% end %>

<%= link_to t('action.cancel'), messages_path %>
