<div class='top-function-menu rounded'>
  <%= link_to t('word.new'), word_path(:action => 'new'), {:popup => true} %>
</div>
<table>
  <thead>
    <th class='wh-100'>提供人</th>
    <th>佳句</th>
  </thead>
  <% @words.each do |word| %>
    <tr class='<%= cycle("bg-ly", "") %>'>
      <% user = word.user %>
      <td><%= link_to_user user, user.name %></td>
      <td><%= format_content word.content %></td>
      <% admin_area do%>
        <td>
          <%= button_to '刪除', {:action => 'destroy', :id => word }, :confirm => '妳確定要刪除嗎?' %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= will_paginate @words %>
