<div class='comment_title'>
  <span class='no_line_name'>
    <%= link_to_user(message.user, message.user.name, nil, true)%>
  </span>
  <span class='comment_subject'>
    <%= @user.see_msg_right(message, @me) ? message.subject : t('msg.pri') %>
  </span>
  <span class='h-time'>(<%= extract_datetime_string(message.created_at) %>)</span>
  <span>
    <%= link_to t('msg.reply'), reply_new_message_path(:id => @user, :message_id => message) if is_owner?&& !message.reply && !message.message_id%>
  </span>
  <span>
    <%= link_to t('action.destroy'), :action => 'destroy', :id => message, :user_id => @user,
      :confirm => t('action.destroyornot'), :method => :delete  if message.user == @me || is_owner?%>
  </span>
</div>
<div class='comment_content'>
  <%= @user.see_msg_right(message, @me) ? format_content(message.content) : t('msg.pri')  %>
</div>
