  <div id="overview-selector" class="selector">
    <span><%= t('sider.name') %></span>
  </div>
  <ul class='side_census <%= @census_status %>'>
    <li class = "census"><%= exact_target_time(@user) %></li>
    <li class = "census"><%= success_census(@user) %></li>
    <li class = "census"><%= continuous_success_num(@user) %></li>
    <li class = "census"><%= all_average(@user) %></li>
    <li class = "census"><%= diff_value(@user) %></li>
    <div class= "my_score_status">
      <%= score_state(@user) %>
    </div>
  </ul>

  <% if  r = @user.today_record %>
    <div id="overview-selector" class="selector"> 
      <span><%= t('sider.today_wake_time') %></span>
    </div>
    <div class='number_clock <%= @number_clock_status%>'>
      <%= image_tag(r.success ? 'thumbup.gif' : 'thumbdown.gif') %> <br />
      <%= number_clock       r %>
    </div>
  <% elsif @user == @me %>
    <div id="overview-selector" class="selector"> 
      <span><%= t('sider.wake_up') %></span>
    </div>
    <div class='alarm_clock <%= @alarm_clock_status%>'> <%= "#{image_tag('clock.gif')}<br /> #{t('sider.time_now')}" %> </div>
  <% end %>

<% if @user == @me %>
  <div id="overview-selector" class="selector">
    <span><%= t('sider.sleep') %></span>
  </div>
  <div class='sleep_button <%= @sleep_button_status%>'>
    <%= "#{image_tag('sleep_time.png')}<br /> #{t('sider.time_now')}" %>
  </div>
<% end %>

    <div id="overview-selector" class="selector">
      <span><%= t('sider.last_rsp') %></span>
    </div>
    <div class='last_rsp <%= @last_rsp_status%>'>
      <% if @user.record_comments.count > 0 %>
        <% @user.record_comments.find(:all).each do |c| %>
          <div style='padding:6px 0px 6px 0px;'>
            <div><span class='no_line_name'><%= link_to_user(c.user, c.user.name) %></span> : </div>
            <span class='no_line_name'>
              <%= link_to truncate(c.content, :length => 10), member_url(:action => 'show', :id => c.record)%>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
