    <h4 class='fl-l'>你現在的早鳥時間是<span class='eb_offset_time w-red mar-r-10'><%= @time_now.to_s(:date) %></span></h4>
    <span class='w-black'>早鳥時間需要再(＋/－)這個時間, 才會等於我的時間</span>
    <% form_for :time_offset, :url => user_url(:action => 'edit_time_offset', :style => 'mobile') do |f|%>
      <%= select :date, :plus_minus, [['+', 'add'], ['－', 'minus']] %>
      <%= select_hour 0 %>時
      <%= select_minute 0 %>分
      <%= submit_tag "設定"%>
    <% end %>
    <br />
