<%= render :partial => 'shared/sub_nav' %>
<% if user_content_right(:friend_pri) %>
  <div class='top-function-menu rounded'>
    <%= render :partial => 'friend_menu' %>
  </div>

<p>
  <%= today_show %>
</p>
<% @friends.each do |u| %>
  <div class='people'>
    <div class="thumbnail">
      <%= link_to_user_image(u, 'user')%>
    </div>
    <div class="pic">
      <h3 class="title">
        <%= link_to_user(u, u.name, 'user') %>
      </h3>
      <p class="description">
        <%= truncate(u.profile.others, :length => 50)%>
      </p>
      
    </div>
  </div>
<% end %>
<div class='clear'></div>
<%= will_paginate @friends %>
<% else %>
<span class='fl-l mar-r-10'>
  <%= link_to_user(@user, @user.name, nil, true)%>
</span>
<div class='clear'></div>
  <div id="journal-all" class="no-journal">
    <div class='no-content'>
      被設為隱藏
    </div>
  </div>
<% end %>
