      <%= hidden_field_tag :type, type%>
    <div>
      <div class='journal-content-title'><%= t'journal.title'%></div>
      <p class='journal-edit-title'>
        <% title = record.title ? record.title : "#{record.todo_time.to_s(:md)}#{t('journal.jtemp')}"%>
        <%= text_field :record, :title, :value => title %>
      </p>
      <div class='journal-content-title'><%= t'journal.time'%></div>
      <p class='journal-edit-time' id='edit_remote_result'>
        <% 
          if @realtime 
            concat "<b>#{record.todo_time.to_s(:mdate)}</b>"
            #datetime_select :record, :todo_time, :use_month_numbers => true, :end_year => Time.now.year 
            concat hidden_field(:record, :todo_time)
            concat " (這個時間不對嗎? 你可能需要做時間校正 #{link_to '前往校正', :controller => 'user', :action => 'edit', :anchor => 'edit_time_offset'})"
          else
            concat datetime_select :record, :todo_time, :use_month_numbers => true, :end_year => Time.now.year
          end
        %>
      </p>
      <%= hidden_field :record, :state%>

      <div class='journal-content-title'><%= t'journal.puborhide'%></div>
      <p class='journal-edit-title'>
        <% SEALED.each do |k, v| %>
          <%= v %>
          <%= radio_button(:record, :pri, k)%>
        <% end %>
      </p>

      <div class='journal-content-title'><a name='yjournal'></a><%= t'journal.y_inquest'%></div>
      <p><%= text_area :record, 'content2', :rows => '20', :cols => '36', :class => 'mceEditor' %></p>
      <div class='journal-content-title'><a name='tjournal'></a><%= t'journal.t_jour'%></div>
      <p><%= text_area :record, 'content', :rows => '20', :cols => '36', :class => 'mceEditor' %></p>
    </div>

    <span class='journal-content-title'><a name='tgoals'></a><%= t'journal.t_target'%></span>
    <a href='#once-goal-form' class='once-goal-add'><%= t'journal.addtodaygoal'%></a>
    <span class='daily-goals-add'>
      <%= b_image_tag('toggle_plus.gif', :class => 'toggle_plus')%>
      <%= b_image_tag('toggle_minus.gif', :class => 'toggle_minus')%>
      <a href='#daily-goals-submit'><%= t'journal.addtodaygoal'%></a>
    </span>
    <div name='once-goal-form' class='once-goal-form' style='display:none'>
      <span class='w-red fw-bold'><%= t'todo.gname'%>:</span> 
      <span class="once_goal_name">
        <input name="comment" type="text" value="<%= t'journal.dotoday'%>" />
      </span>
      <input type='button' value="<%= t'action.add' %>" id="once_goal_submit" />
    </div>
    <table id='today_goals'>
      <thead class='have-goals'>
        <th></th> <th><%= t'journal.done'%></th> <th><%= t'todo.name'%></th> <th><%= t'todo.name'%></th> <th><%= t'todo.tnum'%></th> <th><%= t'todo.order'%></th> 
      </thead>
      <tbody class='today-goals-list'>
        <tr class='no-goals w-red fw-bold'><td class='pad-10'> <%= t'journal.nogoal'%></td></tr>
          <% @today_goals.each do |g|%>
            <% goal_id = g.goal ? g.goal.id : 'once' %>
            <tr goal_id=<%=goal_id%>>
              <td class='goal_detail' detail_id=<%= g.id %>></td>
              <td class="goal_done">
                <%= goal_ck_box(goal_id, 'done', g.done)%>
              </td>
              <td class="goal_name">
                <%= h(g.name) %>
                <%= hidden_field_tag "item[#{goal_id}][name]", g.name%>
              </td>
              <td class="goal_comment">
                <%= text_field_tag "item[#{goal_id}][comment]", g.comment %>
              </td>

                <%= content_tag(:td, text_field_tag("item[#{goal_id}][value]", g.value, :size => 10), :class => 'goal_value') %>

              <td class="goal_rank">
                <%= text_field_tag "item[#{goal_id}][rank]", g.rank, :size => 3 %>
              </td>
              <td class="goal_del">
                <%= b_image_tag("delete.png", :border => "0")%>
              </td>
              <td class="goal_type">
                <%= hidden_field_tag "item[#{goal_id}][goal_type]", g.goal_type %>
              </td>
              <td class="goal_old_value">
                <%= hidden_field_tag "item[#{goal_id}][old_value]", g.done == 1 ? g.value : 0%>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <div class='journal-submit'>
      <%= submit_tag t('action.save') %>
      <%= link_to_cancel('member', t('action.cancel')) %>
    </div>
