  <div id='journal-list'>
    <% size = record_timeline.size-1 %>
    <% record_timeline.each_with_index do |r, i|  %>
      <div class='journal-list-entry'>
        <% if r  && @user.see_journal_right(r, @me) %>
          <div class='jlist-entry'>
            <div class='jlist-time'>
                <%= record_flag(r.state)%>
                <%= r.todo_time.to_s(:md) %>
            </div>
            <span class='journal-state'>
              <%= link_to state_image(r.success), journal_url(:id => @user, :year => r.todo_time.year, :month => r.todo_time.month, :day => r.todo_time.day), :title => r.status_desc %>
            </span>
              <div>
                <%= link_to "#{r.title}", journal_url(:id => @user, :year => r.todo_time.year, :month => r.todo_time.month, :day => r.todo_time.day), :title => r.todo_time.to_s(:date) %>

                <%= link_to '(編輯)', member_url(:action => 'edit_journal', :id => r, :from => 'list_journal', :year => r.todo_time.year, :month => r.todo_time.month) if own_right %>
                <%= link_to '(刪除)', member_url(:action => 'destroy', :id => r, :from => 'list_journal', :year => r.todo_time.year, :month => r.todo_time.month), :confirm => '妳確定要刪除嗎?' if own_right %>

              <span class='list-journal-time'><%= r.todo_time.to_s(:date) %></span>
            </div>
            <div class='journal-content' >
              <% if !r.content.blank? %>
                <%= format_content(truncate(r.content,200)) %>
              <% else %>
                今日日誌是空的<%= "要填寫嗎 #{link_to 'YES', member_url(:action => 'edit_journal', :id => r, :anchor => 'tjournal' )}" if own_right %>
              <% end %>
            </div>
            </div>
          <% else %>
            <div class='jlist-entry'>
              <% date = downlimit_date.since((size - i).days)%>
              <div class='jlist-time'>
                <%= date.to_s(:md) %>
              </div>
              <span class='journal-state'>　</span>
              <div>
                <% if own_right %>
                  <%= link_to '補上日誌', member_url(:action => 'new_journal', :todo_time => date, :from => 'list_journal', :year => date.year, :month => date.month ), :title => date.to_s(:ymd) %>
                <% else %>
                  <% content = r ? '隱藏日誌' : '日誌未填寫'%>
                  <%= link_to content, journal_url(:id => @user, :year => date.year, :month => date.month, :day => date.day), :title => date.to_s(:ymd) %>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
