<%= render :partial => 'shared/sub_nav' %>
<br />

<span class='fl-l mar-r-10'>
  <%= link_to_user(@user, @user.name, nil, true)%>
</span>
<div class='clear'></div>
<% own_right = @user.own_right(@me) %>
<% if @record && @user.see_journal_right(@record, @me) %>
  <div class='journal-top'>
    <span class='journal-status <%= "journal-logo-#{@journal_status}" %>'></span>
    <%= record_flag(@record.state)%>
    <span class='journal-state'>
      <%= journal_date_link @journal_status, state_image(@record.success), {:id => @user, :year => @record.todo_time.year, :month => @record.todo_time.month, :day => @record.todo_time.day}, :title => @record.status_desc %>
    </span>
    <span class="comment-diary-time">
      <%= link_to t('action.edit'), member_url(:action => 'edit_journal', :id => @record ) if own_right %>
      <%= link_to t('action.destroy'), member_url(:action => 'destroy', :id => @record), :confirm => "#{t('action.destroyornot')}" if own_right %>
      <%= link_to t('action.encourage'), member_url(:action => 'push', :id => @record ), :class => 'journal-encourage', :title => "#{@record.push_count}人#{t('action.encourage')}" unless own_right %>
    </span>
    <%= content_tag(:span, link_to("#{@record.push_count}人#{t('action.encourage')}", :action => :push_users, :id => @record)) %>
  </div>
  <span class='journal-time-target'>
    <%= @today_target_time ? t('journal.target_time') : "<span class='w-red'>#{t'journal.no_target_time'}</span>"%>

    <%= "今#{@today_target_time.to_s(:hm)}"  if @today_target_time %>/
    <%= "明#{@tomorrow_target_time.to_s(:hm)}"  if @tomorrow_target_time%>
  </span>
  <div class='clear'></div>
  <div id='journal-all'>
      <div><span class='journal-content-title'><%= t'journal.title'%></span></div>
    <p class='journal-title'>
      <%= "#{@record.title}" %>
    </p>
      <div><span class='journal-content-title'><%= t'journal.time'%></span></div>
    <p class='journal-time'>
      <%= @record.todo_time.to_s(:mdate) %>
    </p>
    <div><span class='journal-content-title'><%= t'journal.y_inquest'%></span></div>
    <div class='journal-content'>
      <% if !@record.content2.blank? %>
        <%= format_content(@record.content2) %>
      <% else %>
        <%= "#{t('journal.y_inquest')}#{t('journal.is_blank')}"%><%= "#{t('journal.addornot')}  #{link_to 'YES', member_url(:action => 'edit_journal', :id => @record, :anchor => 'yjournal' )}" if own_right %>
      <% end %>
    </div>
      <div><span class='journal-content-title'><%= t'journal.t_jour'%></span></div>
        
    <div class='journal-content'>
      <% if !@record.content.blank? %>
        <%= format_content(@record.content) %>
      <% else %>
        <%= "#{t('journal.t_jour')}#{t('journal.is_blank')}" %><%= "#{t('journal.addornot')} #{link_to 'YES', member_url(:action => 'edit_journal', :id => @record, :anchor => 'tjournal' )}" if own_right %>
      <% end %>
      </div>
      <div><span class='journal-content-title'><%= t'journal.t_target'%></span></div>
    <% unless @today_goals.blank? %>
      <%= render :partial => 'journal_goal', :locals => {:today_goals => @today_goals} %>
    <% else %>
    <div class='journal-content' style='border-bottom:0px;'>
      <%= "#{t('journal.t_target')}#{t('journal.is_blank')}"%><%= "#{t('journal.addornot')} #{link_to 'YES', member_url(:action => 'edit_journal', :id => @record, :anchor => 'tgoals' )}" if own_right %>
      </div>
    <% end %>

  </div>
<% else %>
  <div class='journal-top'>
    <span class='journal-title <%= "journal-#{@journal_status}" %>'>
      <%= t "journal.#{@journal_status}" %>
      <%= @last_day.to_s(:ymd) %>
    </span>
    <span class='journal-status <%= "journal-logo-#{@journal_status}" %>'></span>
  </div>
  <span class='journal-time-target'>
    <%= @today_target_time ? t('journal.target_time') : "<span class='w-red'>#{t'journal.no_target_time'}</span>"%>
    
    <%= "今 #{@today_target_time.to_s(:hm)} /"  if @today_target_time %>
    <%= "明 #{@tomorrow_target_time.to_s(:hm)}"  if @tomorrow_target_time%>
  </span>
  <div class='clear'></div>
  <div id='journal-all' class='no-journal'>
    <div class='no-content'>
      <%= @record ? t('journal.hide') : t('journal.no_record')%>
      <br />
      <br />
      <% if own_right &&  @user_today == @last_day%>
        <div class='alarm_clock'>

          <h2>
            <div class='w-red w-bold'><%= link_to t("journal.#{@journal_status}_click"), member_url(:action => 'new_journal', :realtime => 'real', :todo_time => @user_now , :type => @journal_status), :title => t('journal.add_now')  %></div>
          </h2>
          <% img = @journal_status == 'night' ? 'sleep_time.png' : 'clock.gif' %>
          <%= link_to b_image_tag(img), member_url(:action => 'new_journal', :realtime => 'real', :todo_time => @user_now , :type => @journal_status), :title => t('journal.add_now')  %>
        </div>
        或<br />
      <% end %>
        <%= link_to t('journal.add'), member_url(:action => 'new_journal', :todo_time => @last_day, :type => @journal_status) if own_right %>
    </div>
  </div>
<% end %>

<div class='fl-r'>
  <div id='side-journal-list-top'>
    <%= link_to t('journal.addjour'), member_url(:action => 'new_journal', :todo_time => @last_day, :type => @journal_status), :title => @last_day.to_s(:ymd) if own_right %> | 
    <%= link_to t('journal.t_jour'), member_url(:action => "#{@journal_status}_journal", :id => @user )%>
    <%= link_to t('journal.list'), member_url(:action => 'list_journal', :id => @user )%>
    <% anchor = @journal_status == 'daylight' ? 'wake_goal' : 'sleep_goal' %>
    <% 
      target = @journal_status == 'daylight' ? @user.target_time_now : @user.sleep_target_time
      setting_name =  target ? t('member.setting') : "<span class='w-red'>#{t('journal.noset')}</span>"
    %>
    <%= link_to setting_name, user_url(:action => 'edit', :anchor => anchor ) if own_right %>
  </div>
  <br />

  <div id='side-journal-list'>
    <% size = @record_timeline.size-1 %>
    <% @record_timeline.each_with_index do |r, i|  %>
      <div class='side-journal-list-entry'>
        <% if r && @user.see_journal_right(r, @me)%>
          <div class='jentry'>
            <span class='journal-state'>
              <%= journal_date_link @journal_status, state_image(r.success), {:id => @user, :year => r.todo_time.year, :month => r.todo_time.month, :day => r.todo_time.day}, :title => r.status_desc  %>
            </span>
            <div>
              <%= journal_date_link @journal_status, r.title, {:id => @user, :year => r.todo_time.year, :month => r.todo_time.month, :day => r.todo_time.day},
                :alt => r.todo_time.to_s(:date),
                :title => r.todo_time.to_s(:date) %>
              </div>
              <div>
                <%= r.todo_time.to_s(:mdate) %>
              </div>
            </div>
          <% else %>
            <div class='jentry'>
              <span class='journal-state'>　</span>
              <% date = @downlimit_date.since((size - i).days)%>
              <div>
                <% if own_right %>
                  <%= link_to t('journal.addjour'), member_url(:action => 'new_journal', :todo_time => date, :type => @journal_status), :title => date.to_s(:ymd) %>
                <% else %>
                  <% content = r ? t('journal.jou_hide') : t('journal.jour_none')%>
                  <%= journal_date_link @journal_status, content, {:id => @user, :year => date.year, :month => date.month, :day => date.day}, :title => date.to_s(:ymd) %>
                <% end %>
              </div>
              <div>
                <%= date.to_s(:ymd) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id='latest-journal-rsp'>
      <div id="overview-selector" class="selector">
        <span><%= t('sider.last_rsp') %></span>
        <%= link_to 'more', member_url(:action => 'journal_comments', :id => @user)%>
      </div>
      <div class='last_rsp'>
        <% @latest_record_comments.each do |c| %>
          <div style='padding:6px 0px 6px 0px;'>
            <div><span class='no_line_name'><%= link_to_user(c.user, c.user.name) %></span> : </div>
            <span class='no_line_name'>
              <%= link_to truncate(c.content, :length => 10), member_url(:action => 'journal', :record_id => c.record)%>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='journal-comment'>
    <%= render :partial => "shared/comment", :locals => {:item => @record } if @record %>
  </div>

